@font-face
{
    font-family: "Counter-Strike";
    src: url("cs_regular.ttf") ;
}

#menu {

    -fx-background-color: white;


}
#menu #ledger {
    -fx-text-fill: red;
}

#ledgerButton, #storeInventoryButton, #myInventoryButton, #myWalletButton, #logOutButton{

    -fx-font-family: "Counter-Strike";
    -fx-text-fill: red;
    -fx-font-size: 30px;
    -fx-background-color: black;
    -fx-border-style: none;
    -fx-background-radius: 0px;

}

#reportButton, #helpButton {
    -fx-font-family: "Counter-Strike";
    -fx-text-fill: red;
    -fx-font-size: 30px;
    -fx-background-color: #737373;
    -fx-border-style: none;
    -fx-background-radius: 0px;
}

 #storeInventoryButton:hover, #myInventoryButton:hover, #myWalletButton:hover, #logOutButton:hover{

    -fx-background-color: white;

}

 #ledgerButton:hover  {
     -fx-background-color: white;
 }

 #ledgerButton:hover > #blkTriangle {
     -fx-fill: white;
     -fx-stroke: white;
 }

 #helpButton:hover {

     -fx-background-color: white;
 }
 #helpButton:hover > #grayTriangle {
     -fx-fill: white;
     -fx-stroke: white;
 }


#helpButton:hover, #reportButton:hover {
    -fx-background-color: white;
}

#left {
    -fx-background-color: #737373;
}

#right {
    -fx-background-color: black;
}
