@font-face
{
    font-family: "Counter-Strike";
    src: url("cs_regular.ttf") ;
}

#userTextField, #enterPasswordField {
    -fx-border-style: solid;
    -fx-border-radius: 0px;
    -fx-border-color: #737373;
    -fx-background-color: #737373;

}
#loginMessageLabel {
    -fx-font-family: "Counter-Strike";
}
#left {


}

#right {
    -fx-background-color: #ff0000;
    -fx-font-family: "Counter-Strike";
    -fx-font-size: 24;

}